@use "./colors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.ms-hidden {
  display: none;
}
.heading {
  font-weight: 700;
  color: colors.$dark-blue;
}
.paragraph {
  color: colors.$dark-grayish-blue;
  font-weight: 400;
  line-height: 1.5;
}

.btn {
  background-color: colors.$bright-red;
  border: none;
  border-radius: 50px;
  color: colors.$very-light-gray;
  padding: 0.8rem 1.5rem;
  font-size: 0.8rem;
  font-weight: 700;
}
body {
  position: relative;
  font-family: "Be Vietnam", sans-serif;
}
.show__overlay {
  overflow: hidden;
}
.show__overlay::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 10%,
    rgba(0, 0, 0, 0.5) 90%
  );
}
body::after {
  content: "";
  position: absolute;
  top: -60px;
  right: 0;
  width: 80%;
  height: 400px;
  background-size: cover;
  background-image: url("../images/bg-tablet-pattern.svg");
  z-index: -1;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.hamburger {
  height: 1.3rem;
  width: 2rem;
  background-color: transparent;
  border: none;
  position: relative;
  &__outter {
    display: block;
    width: 100%;
    height: 4px;
    background-color: colors.$very-dark-blue;
    transition: transform 0.3s ease;
  }
  &__inner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: colors.$very-dark-blue;
  }
  &__outter::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: colors.$very-dark-blue;
    transition: transform 0.3s ease;
  }
}
.hamburger.open {
  .hamburger__inner {
    opacity: 0;
  }
  .hamburger__outter {
    transform: rotate(45deg);
  }
  .hamburger__outter::before {
    transform: rotate(-90deg);
  }
}
.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0);
  top: 6rem;
  background-color: colors.$very-light-gray;
  width: calc(100% - #{4rem});
  border-radius: 5px;
  text-align: center;

  &__list {
    list-style: none;
  }
  &__item {
    margin: 1.5rem 0;
  }
  &__link {
    text-decoration: none;
    color: colors.$very-dark-blue;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
}
.nav.open {
  transform: translateX(-50%) scale(1);
}
.banner {
  margin: 0.5rem 0;
  &__content {
    position: relative;
    text-align: center;
    overflow-x: hidden;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: -130px;
      width: 80%;
      height: 400px;
      background-size: cover;
      background-image: url("../images/bg-tablet-pattern.svg");
      z-index: -1;
    }
  }
  &--heading {
    font-size: 2.1rem;
    margin: 0 2rem;
  }
  &--paragraph {
    padding: 0.5rem 0;
    margin: 0 2rem;
  }
  &--btn {
    margin: 1rem 0;
    box-shadow: 0px 5px 10px hsla(12, 88%, 59%, 0.37);
  }
}
.about {
  margin-top: 4rem;
  &__header {
    text-align: center;
    margin: 1rem 2rem;
  }

  &--heading {
    margin: 1rem 0;
    font-size: 2.1rem;
  }
  &__list {
    margin-top: 3rem;
    list-style-type: none;
  }
  &--btn {
    box-shadow: 0px 5px 10px hsla(12, 88%, 59%, 0.37);
  }
}
.list__heading {
  background-color: colors.$very-pale-red;
  margin-left: 2rem;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  align-items: center;
}

.list__number {
  background-color: colors.$bright-red;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  color: colors.$very-light-gray;
  margin-right: 1rem;
}
.testimonies {
  margin: 3rem 1rem 2rem;
  text-align: center;
  &--heading {
    font-size: 2.1rem;
    margin-bottom: 6rem;
  }
}

.cards {
  position: relative;
  height: 350px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  background-color: colors.$very-light-gray;
  padding: 3rem 1rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  &__img {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 75px;
    height: 75px;
  }

  &__name {
    font-weight: 700;
    margin: 1.5rem 0;
  }

  &__controls {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

.card.show {
  opacity: 1;
}
.controls__dot {
  width: 10px;
  height: 10px;
  border: 1px solid colors.$bright-red;
  border-radius: 50%;
  margin: 0 0.3rem;
}

.controls__dot.current {
  background-color: colors.$bright-red;
}
.list--paragraph {
  margin: 0.5rem 2rem 2rem 2rem;
}

.cta {
  position: relative;
  overflow: hidden;
  background-color: colors.$bright-red;
  text-align: center;
  padding: 4rem 2rem;
  &--heading {
    color: colors.$very-light-gray;
    margin-bottom: 2rem;
    font-size: 2.1rem;
  }
  &--btn {
    background-color: colors.$very-light-gray;
    color: colors.$bright-red;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50px;
    left: -300px;
    width: 100%;
    height: 400px;
    background-size: contain;
    background-image: url("../images/bg-tablet-pattern.svg");
    opacity: 0.1;
    background-repeat: no-repeat;
  }
}

.footer {
  position: relative;
  background-color: colors.$very-dark-blue;
  padding: 2rem;
  &__form {
    display: flex;
    justify-content: space-between;
  }
  &__email {
    padding: 0.8rem 0.5rem;
    border-radius: 50px;
    border: none;
    margin-right: 1rem;
    width: 100%;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
  }
  &__list {
    list-style-type: none;
  }
  &__link {
    text-decoration: none;
    color: colors.$very-light-gray;
  }
  &__logo {
    margin: 2rem 0;
    text-align: center;
  }
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__link {
    text-decoration: none;
  }
  &__img {
    width: 24px;
    height: 24px;
  }
}
/* 
    hidding spans
    styles from  https://a11y-101.com
*/
.hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}

.copyright {
  color: colors.$very-light-gray;
  text-align: center;
}
.attribution {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: colors.$very-light-gray;
}
.attribution a {
  color: colors.$very-light-gray;
}
